@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.title{
    margin-top: 0;
}

.todos-container{
    max-width: 400px;
    width: calc(100% - 2em);
    margin: 3em auto;
}

.todos-list{
    height: 320px;
    overflow-y: scroll;

}

.todos-list li::after{
    display: none;
}

.cat-container{
    max-width: 300px;
    max-height: 300px;
    width: calc(100% - 2em);
    height: 300px;
}

.cursor-pointer{
    cursor: pointer;
}

.form-update{
    max-width: 300px;
}